<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="icon" type="image/png" href="/static/logo/nhesLogo.png">
</head>
<body>
    <div class="login-container">
        <div class="login-form">
            <form action="/admin" method="post">
                <label for="username">管理員帳號</label>
                <input type="text" name="adminId">
                <label for="password">管理員密碼</label>
                <input type="password" name="password">
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>