<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="../static/adminPanel.css">
    <link rel="icon" type="image/png" href="/static/logo/nhesLogo.png">
</head>
<body>

    <div class="tabs">
        <div class="tab" id="tab1" onclick="showTab(1)">成員列表</div>
        <div class="tab" id="tab2" onclick="showTab(2)">題目列表</div>
        <div class="tab" id="tab3" onclick="showTab(3)">題目管理</div>
    </div>

    <div class="tab-content" id="content1">
        <h2>成員列表</h2>
        <br>
        <table class="demTable">
            <thead>
                <tr>
                    <th>使用者帳號 (學號)</th>
                    <th>使用者密碼 (班級座號)</th>
                    <th>使用者名稱</th>
                    <th>使用者身份</th>
                    <th>挑戰完成度</th>
                </tr>
            </thead>
            <tbody>
                {% for getAllUser in getAllUserData %}
                <tr>
                    <td>{{ getAllUser[0] }}</td>
                    <td>{{ getAllUser[1] }}</td>
                    <td>{{ getAllUser[2] }}</td>
                    <td>{{ getAllUser[3] }}</td>
                    <td>{{ getAllUser[4] }}%</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-content" id="content2">
        <h2>題目列表</h2>
        <br>
        <table class="demTable">
            <thead>
                <tr>
                    <th>題目序號</th>
                    <th>題目名稱</th>
                    <th>題目敘述</th>
                    <th>題目分數</th>
                    <th>題目狀況</th>
                </tr>
            </thead>
            <tbody>
                {% for challenge in allChallenge %}
                <tr>
                    <td>{{ challenge["labId"] }}</td>
                    <td>{{ challenge["name"] }}</td>
                    <td>{{ challenge["description"] }}</td>
                    <td>{{ challenge["score"] }}</td>
                    <td>{{ challenge["active"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="tab-content" id="content3">
        <h2>修改或新增題目</h2>
        <br>
        <div class="login-form">
            <form action="/adminPanel" method="post">
                <label for="labId">題目序號</label>
                <select name="labId">
                    {% for selectNum in allChallenge %}
                        <option value="{{ selectNum.labId }}">{{ selectNum.labId }}</option>
                    {% endfor %}
                    <option value="{{ maxChallenge + 1}}">{{ maxChallenge + 1}} (新增題目)</option>
                </select>

                <label for="name">題目名稱</label>
                <input type="text" name="name">

                <label for="description">題目敘述</label>
                <input type="text" name="description">

                <label for="score">題目分數</label>
                <select name="score">
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                </select>

                <label for="active">題目顯示</label>
                <select name="active">
                    <option value="Visible">顯示</option>
                    <option value="Invisible">不顯示</option>
                </select>

                <button type="submit">確定</button>
            </form>
        </div>
    </div>

    <div class="logout-btn-b">
        <a href="/setPercentageZero" class="logout-btn" onclick="showConfirm(event)">重置</a>
        <a href="/logout" class="logout-btn-bb">登出</a>
    </div>

    <script>
        function showConfirm(event) {

            event.preventDefault();

            var result = confirm("確定要重置比例嗎? 建議在沒有題目下使用");
            if (result) {
                
                window.location.href = "/setPercentageZero";
            } else {
                
                alert("重置操作已取消");
            }
        }

        function showTab(tabNumber) {

            let contents = document.querySelectorAll('.tab-content');
            contents.forEach(content => {
            content.classList.remove('active');
        });


        let tabs = document.querySelectorAll('.tab');
        tabs.forEach(tab => {
            tab.classList.remove('active');
        });

        document.getElementById('content' + tabNumber).classList.add('active');

        document.getElementById('tab' + tabNumber).classList.add('active');
    }

        showTab(1);
    </script>
</body>
</html>