<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
    <link rel="icon" type="image/png" href="/static/logo/nhesLogo.png">
</head>
<body>
    <div class="dashboard">
        <header class="header">
            <div class="user-info">
                <h1>Welcome, {{ userName }}</h1>
                <p>身份: {{ userRole }}</p>

            </div>
        </header>

        <section class="progress-overview">
            <h2>你的進度</h2>
            {% if percentage %}
                <div class="progress-bar">
                    <div class="progress" style="width: {{ percentage }}%;"></div>
                </div>
                <p>已完成 {{ percentage }}%</p>
            {% else %}
                <div class="progress-bar">
                    <div class="progress" style="width: 0%;"></div>
                </div>
                <p>已完成 0%</p>
            {% endif %}
        </section>

        <section class="challenges">
            <h2>所有任務</h2>
            <div class="challenge-info">

                {% if allChallenge %}
                    {% for challenge in allChallenge %}

                        {%  if challenge.active == "Visible" %}
                            <div class="tab-header" onclick="toggleContent('content{{ challenge.labId }}')">
                                <span>題目名稱: {{ challenge.name }}</span>
                            </div>
                            <div class="tab-content" id="content{{ challenge.labId }}">
                                <p>題目敘述: {{ challenge.description }}</p>

                                {% if challenge.permission == "None" %}
                                    <p>指定老師: 無</p>
                                {% else %}
                                    <p>指定老師: {{ challenge.permission }}</p>
                                {% endif %}

                                {% if challenge.score == 100 %}
                                    <p>難度: 簡單</p>
                                {% elif challenge.score == 200 %}
                                    <p>難度: 普通</p>
                                {% else %}
                                    <p>難度: 困難</p>
                                {% endif %}

                                {% if challenge.completed %}
                                    <p>狀態: <strong style="color: green;">已完成</strong></p>
                                {% else %}
                                    <p>狀態: <strong style="color: red;">未完成</strong></p>
                                    <br>
                                    <form action="submit" method="post">
                                        <input type="text" name="labId" value="{{ challenge.labId }}" hidden>
                                        <input type="text" name="ans" placeholder="答案">
                                        <input type="submit" class="submit-button">
                                    </form>
                                {% endif %}
                            </div>
                        {% endif %}

                    {% endfor %}
                {% else %}
                    <p style="color: red;">目前無任務</p>
                {% endif %}
            </div>
        </section>
        <div class="logout-btn-b">
            <a href="/logout" class="logout-btn">登出</a>
        </div>
    </div>

    <script>
        function toggleContent(contentId) {
            const content = document.getElementById(contentId);
            const header = content.previousElementSibling;

            content.classList.toggle('active');

            header.classList.toggle('active');
        }
    </script>
</body>
</html>
