<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../static/dashboard.css">
    <link rel="icon" type="image/png" href="/static/logo/nhesLogo.png">
</head>
<body>
    <div class="dashboard">
        <header class="header">
            <div class="user-info">
                <h1>Welcome, {{ userName }}</h1>
                <p>Role: {{ userRole }}</p>

            </div>
        </header>

        <section class="progress-overview">
            <h2>你的進度</h2>
            <div class="progress-bar">
                <div class="progress" style="width: {{ percentage }}%;"></div>
            </div>
            <p>已完成 {{ percentage }}%</p>
        </section>

        <section class="challenges">
            <h2>所有挑戰</h2>
            <div class="challenge-info">

                {% for challenge in allChallenge %}
                    <h3>Challenge {{ challenge.labId }}: {{ challenge.name }}</h3>
                    <p>Description: {{ challenge.description }}</p>
                    {% for answerStatus in checkAnswerStatus %}
                        {% if answerStatus.labId == challenge.labId and answerStatus.status == "Completed" %}
                            <p>Status: <strong style="color: green;">已完成</strong></p>
                        {% else %}
                            <p>Status: <strong style="color: red;">未完成</strong></p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            </div>
        </section>
        <div class="logout-btn-b">
            <a href="/logout" class="logout-btn">登出</a>
        </div>
    </div>

</body>
</html>
