<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="../static/logo/nhesLogo.png" alt="Logo">
        </div>
        <div class="login-form">
            <form action="" method="post">
                <label for="username">班級座號</label>
                <input type="text" id="username" placeholder="30XXX">

                <label for="password">學號</label>
                <input type="password" id="password" placeholder="111XXX">
                <button type="submit">Log In</button>
            </form>
        </div>
    </div>
</body>
</html>