<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="icon" type="image/png" href="/static/logo/nhesLogo.png">
</head>
<body>
    <div class="login-container">
        <div class="logo">
            <img src="../static/logo/nhesLogo.png" alt="Logo">
        </div>
        <div class="login-form">
            <form action="/login" method="post">
                <label for="username">學號</label>
                <input type="text" name="userid" placeholder="111XXX">

                <label for="password">班級座號</label>
                <input type="password" name="password" placeholder="30XXX">
                <button type="submit">Login</button>
            </form>
            <div class="error_message">
                {% if error %}
                    <p>{{ error }}</p>
                {% endif %}
            </div>
        </div>
        <div class="splitline">
            <hr>
            <span>or</span>
            <hr>
        </div>
        <div class="scorelink">
            <a href="/scoreboard">查看排名</a>
        </div>
    </div>
</body>
</html>